

.sidebar::-webkit-scrollbar {
  background-color: red;
  width: 6px;
}


.sidebar::-webkit-scrollbar-thumb {
  background-color: blue;
}

.dropdown-perfil > div{
 top: 1.5rem !important;
}

@media screen and (max-width:768px) {
  .dropdown-perfil > div{
    position: unset!important;
    transform: none!important;
    margin-top: 1rem!important;
  }
}